In [4]:
# Data Visualization
# Btech Computer Science Stream, January 2025
# Week 5 - Data Cleaning and Preparation 
# Name: Mohammed Ahsan Bagsaria , 240968484 , Date:13/02/2025

In [3]:
import numpy as np
import pandas as pd

In [61]:
'''
1. Create a CSV file called “Movies.csv” with details of 10 moviesMovie Name, Language, Genre, Rating, Review.
a. Read CSV file into a dataframe and find the movie with the
highest rating.
b. Write the details of all Hindi movies into a file
“HindiMovies.csv”.
'''
# Part-a 
df = pd.read_csv('Movies.csv' , delimiter='|')
print("The movie with the highest rating is:\n\n" , df[df['Rating'] == df['Rating'].max()][['Movie name','Rating']])
print('\n=============================================================================\n')
#Part-b
df.columns = df.columns.str.strip()
df[df["Language"].str.strip() =='Hindi'].to_csv('HindiMovies.csv',index = False)
df1 = pd.read_csv('HindiMovies.csv')
df1

The movie with the highest rating is:

                           Movie name  Rating
7  Harry Potter: Chamber of Secrets      4.9

=============================================================================

,Movie name,Language,Genre,Rating,Review
0,Golmaal Again,Hindi,Humorous and Action,4.00,Good
1,3 Idiots,Hindi,Emotional and Action packed,4.34,Good
2,Baar Baar Dekho,Hindi,Time-Travel and Drama,0.75,Waste of time
3,Tiger Zinda Hai,Hindi,Action Thriller,4.10,Good

In [152]:
'''
2. For the CEREALS dataset, perform data preprocessing and
answer the following questions.
a. Create a table with the 5 number summary of all the numeric
attributes.
b. For each of the numeric attributes (proteins upto vitamins) ,
identify and replace all missing data(indicated with -1) with
the arithmetic mean of the attribute.
c. Create a table with the 5 number summary of all the numeric
attributes after treating missing values. Do you think the
strategy used in dealing with missing values was effective?
d. For each numeric attribute (proteins upto vitamins), identify
and replace all noisy data with the median of attribute.
e. Create a table with the 5 number summary of all the numeric
attributes after treating noisy values. Do you think the
strategy used in dealing with noisy values was effective? 
'''

ce = pd.read_excel('Cereals.xlsx')

#Part-a
print("Part-a:")
display(ce.describe()) #Used for better UI when printing the resultant table
print('\n===========================================================\n')

#Part-b
print("Part-b:")
ce.loc[:,'protein':'vitamins'] = ce.loc[:,'protein':'vitamins'].replace(-1,ce.loc[:,'protein':'vitamins'].mean()).astype(int)
display(ce)
print('\n===========================================================\n')

#Part-c
print("Part-c:")
display(ce.describe())
print('\n===========================================================\n')
#The strategy used above - Replacing missing data (-1) with arithmetic mean might be 
#efficient only if there are a few deviations in the outliers.
# If the data has a few values, example 20, where the range of values is to be around 13-19 (teenagers), 
#if an outlier has the value 130 or 1500, this method would be inefficient

#Part-d
print("Part-d:")
Q1 = ce.loc[:,'protein':'vitamins'].quantile(0.25)
Q3 = ce.loc[:,'protein':'vitamins'].quantile(0.75)
IQR = Q3 - Q1
for col in ce.loc[:, 'protein':'vitamins']:
    median_val = ce[col].median()  
    ce[col] = np.where((ce[col] < (Q1[col] - 1.5 * IQR[col])) | (ce[col] > (Q3[col] + 1.5 * IQR[col])),
                        median_val, ce[col]) 
ce.loc[:, 'protein':'vitamins'] = ce.loc[:, 'protein':'vitamins'].fillna(ce.loc[:, 'protein':'vitamins'].median(numeric_only=True)).astype(int)
display(ce)
print('\n===========================================================\n')

#Part-e
print("Part-e:")
display(ce.describe())
#This strategy of dealing with noisy values using the Interquartile Range method (IQR) is efficient since it helps maintain
#consistency and the right data. But if the extreme data points are genuine, such as perhaps looking at the 
#revenue of a company month wise, the gross revenue could shoot up by large amounts.
#Thus, this method needs to be used with caution.

Part-a:

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.723684,6.934211,93.657895,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,4.160444,4.473136,68.502565,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

===========================================================

Part-b:

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,93,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.0,10.0,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

===========================================================

Part-c:

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.013158,14.894737,7.026316,96.131579,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.224071,3.765028,4.378656,66.689398,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,7.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,43.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.500000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

===========================================================

Part-d:

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3.0,5.0,15.0,2.0,8.0,8.0,135.0,25.0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4.0,1.0,260.0,1.0,7.0,5.0,90.0,25.0,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4.0,0.0,140.0,1.0,8.0,0.0,90.0,25.0,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2.0,2.0,200.0,1.0,14.0,8.0,93.0,25.0,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2.0,2.0,180.0,1.0,10.0,10.0,70.0,25.0,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2.0,1.0,250.0,0.0,21.0,3.0,60.0,25.0,3,1.0,0.75,39.106174
72,Trix,G,C,110,1.0,1.0,140.0,0.0,13.0,12.0,25.0,25.0,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3.0,1.0,230.0,3.0,17.0,3.0,115.0,25.0,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3.0,1.0,200.0,3.0,17.0,3.0,110.0,25.0,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2.0,1.0,200.0,1.0,16.0,8.0,60.0,25.0,1,1.0,0.75,36.187559

===========================================================

Part-e:

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.381579,1.013158,181.381579,1.736842,14.894737,7.026316,85.736842,25.0,2.197368,1.030000,0.827500,42.327057
std,19.139378,0.878895,1.013159,60.186370,1.526376,3.765028,4.378656,48.046746,0.0,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,15.000000,0.000000,7.000000,0.000000,15.000000,25.0,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,147.500000,0.750000,12.000000,3.000000,43.750000,25.0,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.000000,1.000000,180.000000,1.000000,14.500000,7.000000,90.000000,25.0,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,110.000000,25.0,3.000000,1.000000,1.000000,50.780847
max,160.000000,4.000000,5.000000,320.000000,6.000000,23.000000,15.000000,230.000000,25.0,3.000000,1.500000,1.500000,93.704912